@import "chats.css";
@import "windows.css";

@font-face {
  font-family: 'Chicago';
  src: url('{{ dist }}chicagoflf.woff2') format('woff2');
}

body, input, button {
  font: 17px 'Chicago', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;

  /* Created using http://www.patternify.com */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAFUlEQVQYlWNgGBwgISHh/yBQPIgAAKa/Bl4ztVlWAAAAAElFTkSuQmCC) repeat;
}

main {
  margin: auto;
}
