@import "chats.css";
@import "topbar.css";
@import "windows.css";

:root {
  --screen-corner-radius: 12px;

  --top-bar-height: 40px;
  --top-bar-font-size: 20px;

  --header-font-size: 19px;
}

@font-face {
  font-family: 'Chicago';
  src: url('{{ dist }}chicagoflf.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body, input, button {
  font: 17px 'Chicago', sans-serif;
}

body {
  margin: 0;
  background: black;
  height: 100vh;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 96vh;
  width: 128vh;

  /* Created using http://www.patternify.com */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAFUlEQVQYlWNgGBwgISHh/yBQPIgAAKa/Bl4ztVlWAAAAAElFTkSuQmCC)
    repeat white;
  border-radius: var(--screen-corner-radius);
}

.desktop {
  margin: auto;
}
