.chat {
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 8px 0;
}

.chat-message--incoming {
  align-self: flex-end;
  /* padding-left: 16px; */
}

.chat-sprite {
  display: block;
  width: 250px;
  height: 250px;
}
